<html>
    <head>
        <title>VS Code Rocks!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
    </head>
    <body>
        <a href="{{ url_for('static', filename='rules.html') }}">les règles du jeu</a>

        <form>
            <div class="btn-group" role="group" aria-label="Select move to play">
                <input type="radio" class="btn-check" name="shifumi" id="rock" value="rock" checked>
                <label class="btn btn-outline-primary" for="rock">Pierre</label>
            
                <input type="radio" class="btn-check" name="shifumi" id="paper" value="paper">
                <label class="btn btn-outline-primary" for="paper">Papier</label>
            
                <input type="radio" class="btn-check" name="shifumi" id="scissors" value="scissors">
                <label class="btn btn-outline-primary" for="scissors">Ciseaux</label>
            </div>
            <button class="btn btn-primary" type="submit" formaction="/">Play</button>
        </form>
        {% if played_action %}
        <div>
            <p>Vous avez joué : {{played_action}} contre {{generated_action}}</p>
            {% if has_won %}
            <span class="badge rounded-pill text-bg-success">Gagné</span>
            {% else %}
            <span class="badge rounded-pill text-bg-danger">Perdu</span>
            {% endif %}
        </div>
        {% endif %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>